<%= render layout: '/heading',
           locals: {
             size: 'h2',
             title: t('integrations.edit.title')
           } do %>
  <nav class="pull-right">
    <%= link_to 'Return to integration',
                admin_integration_path(integration),
                :class => 'btn btn-link' %>
  </nav>
<% end %>
<div>
  <%= simple_form_for([:admin, integration],
                      html: { class: 'form-horizontal' },
                      method: :patch,
                      wrapper: :horizontal_form) do |form| %>
    <%= render partial: 'form',
               locals: {
                 form: form,
                 integration_types: %w{i_rely},
                 model: integration } %>
    <div class="actions">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
