<%= render layout: '/heading',
           locals: {
             size: 'h2',
             title: t('organizations.edit.title')
           } do %>
  <nav class="pull-right">
    <%= link_to 'Return to organization',
                admin_organization_path(organization),
                :class => 'btn btn-link' %>
  </nav>
<% end %>
<div>
  <%= simple_form_for([:admin, organization],
                      html: { class: 'form-horizontal' },
                      method: :patch,
                      url: admin_organization_path(organization),
                      wrapper: :horizontal_form) do |form| %>
    <%= error_messages organization %>
    <%= form.input :integration_id, collection: integrations %>
    <div class="actions">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
