<%= render :layout => '/heading',
           :locals => { :size => 'h2', :title => 'Edit User' } do %>
  <nav class="pull-right">
    <%= link_to 'Return to user',
                admin_user_path(@user),
                :class => 'btn btn-link' %>
  </nav>
<% end %>
<div>
  <%= simple_form_for(@user_entry,
                      :html => { :class => 'form-horizontal' },
                      :method => :patch,
                      :url => admin_user_path(@user),
                      :wrapper => :horizontal_form) do |form| %>
    <%= render :partial => 'form',
         :locals => { :form => form, :model => @user_entry } %>
    <div class="actions">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
