<%= render layout: '/heading',
           locals: {
             size: 'h2',
             title: 'New User'
           } do %>
  <nav class="pull-right">
    <%= link_to 'Return to users',
                admin_users_path,
                :class => 'btn btn-link' %>
  </nav>
<% end %>
<div>
  <%= simple_form_for(entry,
                      as: :entry,
                      html: { class: 'form-horizontal' },
                      method: :post,
                      url: admin_users_path,
                      wrapper: :horizontal_form) do |form| %>
    <%= render partial: 'form', locals: { form: form, model: entry } %>
    <div class="actions">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
