<%= render layout: '/heading',
           locals: {
             size: 'h2',
             title: t('devise.invitations.edit.header')
           } do %>
  <nav class="pull-right">
  </nav>
<% end %>
<div>
  <%= simple_form_for(@entry,
                      as: :entry,
                      html: { class: 'form-horizontal' },
                      method: :patch,
                      url: invitation_path(:user),
                      wrapper: :horizontal_form) do |form| %>
    <%= devise_error_messages! %>
    <%= error_messages @entry %>

    <%= form.hidden_field :invitation_token %>
    <%= form.input :name %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
    <div class="actions">
      <%= form.submit t('devise.invitations.edit.submit_button'),
                      class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
